@use "./fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;


.interface {
    @apply w-full h-screen flex items-center justify-center overflow-hidden;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;

    font-family: 'Ubuntu';
}


/* BOTÕES */
.button {
    @apply p-3 rounded-xl;
}

.night-button {
    @extend .button;
    @apply bg-night-light text-white active:bg-night;
}

.leaf-button {
    @extend .button;
    @apply bg-leaf text-white active:bg-leaf-dark disabled:bg-leaf-light;
}

/* FORMULÁRIO */
.form-error {
    @apply text-sm text-rose-500 font-bold;
}

.input-group {
    @apply border-t border-black p-2;

    legend {
        @apply p-2;
    }
}

.input-container {
    @apply flex flex-col justify-center mb-2;

    label {
        @apply font-semibold text-sm;
    }
}

.input {
    @apply font-normal p-2;
}

.input-error {
    @apply text-rose-500 border-b-rose-500 focus:border-b-rose-500;
}

/* CARDS */
.card {
    @apply font-bold text-sm absolute bottom-0 border-2 p-1 rounded-md translate-y-3 left-1/2 -translate-x-1/2;
}

.available {
    @extend .card;
    @apply text-emerald-600 bg-emerald-200 border-emerald-800;
}

.unavailable {
    @extend .card;
    @apply text-rose-600 bg-rose-200 border-rose-800;
}

.scheduled {
    @extend .card;
    @apply text-amber-600 bg-amber-200 border-amber-800;
}

/* TABLE */
td {
    @apply text-right p-3 border text-sm;
}
td.title {
    @apply font-bold text-left;
}
